.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}
